<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1><i class="fa-brands fa-angular"></i> + <i class="fa-solid fa-font-awesome"></i></h1>
  <h2>User Crud <br>.NET | DAPPER | Angular UI</h2>
</div>

<div class="container">
  <div class="container mt-3">
    <h2>Bla bla bla bla </h2>
    <p>Bla bla bla bla </p>            
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th><i class="fa-regular fa-envelope"></i></th>
          <th><i class="fa-brands fa-github"></i></th>
          <th><i class="fa-brands fa-linkedin"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Guilherme</td>
          <td>Bonato</td>
          <td><a href="mailto:guilhermeferrazbonato@gmail.com">guilhermeferrazbonato@gmail.com</a></td>
          <td><a href="https://github.com/moablive">Github</a></td>
          <td><a href="https://www.linkedin.com/in/guilhermebonato/">Linkedin</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>